.clean-tech {
  background-image: (url('../../../public/abstract.jpg'));
  // background-size: cover;
  background-position: center; // Center the image
  background-repeat: no-repeat; // Prevent the image from repeating

}

.responsive-div {
  width: 500px; /* Default width for larger screens */
}

@media (max-width: 768px) {
  .responsive-div {
    width: 250px; /* Width for mobile screens */
  }
}
