<div style=" height: calc(100vh);overflow: auto;">
  <div style="height: 100%; display: flex;justify-content: center;align-items: center;">

    <div class="clean-tech" style="width: 100%;height: 100%;">
      <div style="height: 100%; display: flex;justify-content: center;align-items: center;">
        <div class="responsive-div">
          <h1 style="color: #ffffff;">R-Concept</h1>
          <div style="color: #373237d0;"> we specialize in creating innovative and scalable software solutions. Our team of expert developers is
            dedicated to delivering high-quality web, mobile, and enterprise applications tailored to meet your business
            needs. With a focus on cutting-edge technologies and customer-centric approaches, we help businesses achieve
            success through custom digital solutions.</div>

          <div  style="color: #373237d0;margin-top: 20px;">contact us: rconcept2140&#64;gmail.com

          </div>

          <div style="display: flex;align-items: center;justify-content: center;margin-top: 20px;">
            <button (click)="goToPrivacy()" style="padding: 10px;border-radius: 5px;border: 0px;">Privacy</button>
          </div>

        </div>
      </div>
    </div>


  </div>


</div>
